{% extends 'layout.html' %}

{% block content %}
<div id="dashboard-container">
    <div class="dashboard-card">
        <h1>Recent Activity</h1>
        <hr/>
        <p>Brandon Changed Job <a href="#">#1233444</a> Status to Completed</p>
        <p>Daniel Changed Job <a href="#">#3455555</a> Status to In Progress</p>
    </div>
    <div class="dashboard-card">
        <h1>Latest Invoices</h1>
        <hr/>
    </div>
    <div class="dashboard-card">
        <h1>Needs Attention</h1>
        <hr/>
    </div>
</div>
{% endblock %}